dialog {
    padding: 0;
    position: fixed;
    border: none;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: white;
    z-index: 999;
}

.dialog__form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(300px, 70%, 520px);
    background-color: white;
    color: black;
    border-radius: 20px;
}

.inp__txt {
    border-width: 1px;
    border-color: #0F0F17;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    width: 87%;
    color: #0F0F17;
}

.inp__txt:focus::placeholder{
    color: #000000;
}

.button__send {
    margin: 10px 0;
    color: black;
    padding: 12px 20px;
    background: 
        linear-gradient(#ffffff, #ffffff) padding-box,
        linear-gradient(to bottom, #FB8627, #F5BEF6) border-box;
    font-size: 0.8em;
    border-radius: 20px;
    width: 115px;
}

.button__send:hover {
  background: linear-gradient(#FB8627, #F5BEF6) padding-box;
}

.button__close {
    position: absolute;
    top: 20px;
    right: 0px;
    color: #000000;
    background-color: transparent;
    font-size: 23px;
    z-index: 10;
}

.dialog__form div {
    align-items: center;
    display: flex;
    gap: 5px;
}

.box__label {
    margin: 10px 0 15px;
    color: #0F0F17;
    opacity: 50%;
}

.box__input {
    position: relative;
    appearance: none;
    cursor: pointer;
    height: 18px;
    width: 18px;
    min-width: 18px;
    background: white;
    border: solid 1px;
    border-image: linear-gradient(to bottom, #FB8627, #F5BEF6) 1;
    transition: all 0.2s ease;
}

.box__input:checked {
    background: linear-gradient(to bottom, #FB8627, #F5BEF6);
}

.box__input:checked::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 1px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.error {
    color: red;
}

@media screen and (width > 600px) {
    dialog {
        background-color: rgba(0, 0, 0, 0.4);
    }

    .dialog__form {
        position: relative;
        justify-content: start;
        padding: 40px;
    }

    .inp__txt {
        width: 92%;
    }

    .button__close {
        right: 50px;
    }

    .box__input {
        bottom: 4px;
    }

    .button__close {
        top: 59px;
    }
}
