:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0f0f17;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  padding: 0;
  margin: 0;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header, footer {
  display: flex;
  align-items: center;
}

header {
  position: sticky;
  background-color: #0f0f17;
  z-index: 10;
  top: 0;
  justify-content: space-between;
  padding: 10px 3%;
  border-bottom: solid 1px rgba(255, 255, 255, 0.6)
  
}


footer {
  justify-content: center;
  flex-wrap: wrap;
  padding: 100px 20px;
  background: linear-gradient(to bottom, #FB8627, #F5BEF6);
  text-align: center;
}

.footer__logo {
  width: 120px;
  height: 144px;
}

h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.1;
}

h2 {
  font-weight: 600;
  font-size: 24px;
}

h3 {
  font-weight: 600;
  font-size: 20px;
}

h4 {
  font-weight: 500;
  font-size: 16px;
}

p {
  font-size: 16px;
  font-weight: 400;
}

button {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}

button:focus, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media  screen and (width > 600px) {
  footer {
    padding: 70px 40px;
  }

  .footer__logo {
    width: 103px;
    height: 124px;
  }
}


@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter_24pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter-med";
  src: url("./assets/fonts/Inter_18pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter-semi-bold";
  src: url("./assets/fonts/Inter_28pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}